@import "./colors.css";

.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.crypto {
  color: var(--cryptolab-blue);
}

.lab {
  color: var(--cryptolab-orange);
}

.headerCategories a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.headerCategories a:hover {
  color: #00bfff;
}

.container {
  background-color: var(--cryptolab-white);
  padding: 10px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  top: -100px; /* Adjust this value based on your navbar height */
  transition: top 0.3s;
  z-index: 10;
}

.hidden {
  top: -100px; /* Adjust this value based on your navbar height */
}

.visible {
  top: 0;
}