@import url('./xy-theme.css');

.openDesignView {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Dark Mode Styles */
.openDesignView.dark {
  background-color: var(--cryptolab-dark-bg);
  color: var(--cryptolab-dark-text);
}

.gridBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}

.openDesignView.dark .gridBg {
  background-color: var(--cryptolab-dark-bg);
}

.box {
  border: 1px solid #000;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}

.reactResizable {
  position: absolute;
}

.reactResizableHandle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none !important;
}

.horizontalControls {
  display: flex !important;
  flex-direction: row !important;
  width: 200px !important;
  justify-content: space-between !important;
  background-color: white !important;
  margin-top: 10px !important;
  padding: 5px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.openDesignView.dark .horizontalControls {
  background-color: #444;
  color: var(--cryptolab-dark-text);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.react-flow__node {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.125s ease, border-radius 0.125s ease;
}

.openDesignView.dark .react-flow__node {
  background-color: var(--cryptolab-dark-node-bg);
  color: var(--cryptolab-dark-node-text);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.react-flow__node.selected {
  box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.5);
  border-radius: 9px;
}

.react-flow__edge {
  stroke-width: 2;
  stroke: #FF0072;
  transition: stroke 0.125s ease;
}

.openDesignView.dark .react-flow__edge {
  stroke: var(--cryptolab-dark-edge);
}

.react-flow__edge.selected {
  stroke: #8400ff;
}

.react-flow__handle {
  background-color: #ffffff;
  border: 1px solid #AAAAAA;
}

.openDesignView.dark .react-flow__handle {
  background-color: var(--cryptolab-dark-handle-bg);
  border: 1px solid #666666;
}

.exportButtons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.exportDropdown {
  position: relative;
  display: inline-block;
}

.exportButtons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.exportButton {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--cryptolab-orange);
  z-index: 1000;
  transition: all 0.125s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.exportButton:hover {
  background-color: var(--cryptolab-orange-hovered);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 8px 25px rgba(0, 0, 0, 0.22);
}

.importLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.exportButton {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--cryptolab-orange);
  z-index: 1000;
  transition: all 0.125s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.exportButton:hover {
  background-color: var(--cryptolab-orange-hovered);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 8px 25px rgba(0, 0, 0, 0.22);
}

.exportMenuClick {
  animation: fadeIn 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.exportMenuClick .MuiMenuItem-root {
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--cryptolab-orange); /* Ensure text is white */
}

.exportMenuClick .MuiMenuItem-root:hover {
  background-color: var(--cryptolab-orange-hovered);
}

.exportMenuClick .MuiMenuItem-root:active {
  background-color: var(--cryptolab-orange-active);
}

.importLabel {
  display: flex;
  align-items: center;
  color: var(--cryptolab-orange);
  cursor: pointer;
  transition: color 0.2s ease;
}

.importLabel svg {
  margin-right: 8px;
}

.importLabel:hover {
  color: var(--cryptolab-orange-hovered);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation: fadeInModal 0.15s ease-in-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOutModal 0.3s forwards;
}

.modalContent {
  background: linear-gradient(135deg, #ffffff, #f7f7f7);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  animation: slideDown 0.1s ease-out;
  border: none;
}

.openDesignView.dark .modalContent {
  background: linear-gradient(135deg, #333333, #444444);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.openDesignView.dark .modalContent h2 {
  color: var(--cryptolab-dark-text);
}

.modalContent input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}

.openDesignView.dark .modalContent input[type="text"] {
  background-color: #555;
  color: var(--cryptolab-dark-text);
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.1);
}

.modalContent input[type="text"]::placeholder {
  color: #999;
}

.openDesignView.dark .modalContent input[type="text"]::placeholder {
  color: #bbb;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.modalButtons button {
  flex: 1;
  padding: 10px 0;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.modalButtons button:first-child {
  background-color: var(--cryptolab-orange);
  color: #fff;
}

.modalButtons button:first-child:hover {
  background-color: var(--cryptolab-orange-hovered);
}

.modalButtons button:last-child {
  background-color: #ddd;
  color: #333;
}

.modalButtons button:last-child:hover {
  background-color: #ccc;
}

.openDesignView.dark .modalButtons button:last-child {
  background-color: #666;
  color: var(--cryptolab-dark-text);
}

.openDesignView.dark .modalButtons button:last-child:hover {
  background-color: #555;
}