@import url('./xy-theme.css');

.openDesignView {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.gridBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}

.box {
  border: 1px solid #000;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}

.reactResizable {
  position: absolute;
}

.reactResizableHandle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none !important;
}

.horizontalControls {
  display: flex !important;
  flex-direction: row !important;
  width: 200px !important;
  justify-content: space-between !important;
  background-color: white !important;
  margin-top: 10px !important;
  padding: 5px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.react-flow__node {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.125s ease, border-radius 0.125s ease;
}

.react-flow__node.selected {
  box-shadow: 0 0 0 2px rgba(255, 0, 115, 0.5);
  border-radius: 9px;
}

.react-flow__edge {
  stroke-width: 2;
  stroke: #FF0072;
  transition: stroke 0.125s ease;
}

.react-flow__edge.selected {
  stroke: #8400ff;
}

.react-flow__handle {
  background-color: #ffffff;
  border: 1px solid #AAAAAA;
}

.exportButtons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.exportDropdown {
  position: relative;
  display: inline-block;
}

.exportButtons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.exportButton {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--cryptolab-orange);
  z-index: 1000;
  transition: all 0.125s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.exportButton:hover {
  background-color: var(--cryptolab-orange-hovered);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 8px 25px rgba(0, 0, 0, 0.22);
}

.importLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.exportButton {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--cryptolab-orange);
  z-index: 1000;
  transition: all 0.125s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.exportButton:hover {
  background-color: var(--cryptolab-orange-hovered);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 8px 25px rgba(0, 0, 0, 0.22);
}

.exportMenuClick {
  animation: fadeIn 0.3s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.exportMenuClick .MuiMenuItem-root {
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--cryptolab-orange); /* Ensure text is white */
}

.exportMenuClick .MuiMenuItem-root:hover {
  background-color: var(--cryptolab-orange-hovered);
}

.exportMenuClick .MuiMenuItem-root:active {
  background-color: var(--cryptolab-orange-active);
}

.importLabel {
  display: flex;
  align-items: center;
  color: var(--cryptolab-orange);
  cursor: pointer;
  transition: color 0.2s ease;
}

.importLabel svg {
  margin-right: 8px;
}

.importLabel:hover {
  color: var(--cryptolab-orange-hovered);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}