.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 82px;
}

.sidebar.expanded {
  width: 202px;
}

.toggle-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -15px; /* Adjust this value to position the button correctly */
  transform: translateY(-50%);
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
  background-color: #f0f0f0;
}

.logo-container {
  text-align: center;
  padding: 10px;
}

.logo {
  max-width: 100%;
  height: auto;
}