.sidebar-container {
  position: relative;
  height: 100vh!important;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s;
}

.sidebar {
  margin: 0!important;
  padding: 0!important;
  top: 0;
  left: 0;
  height: 100vh !important;
  z-index: 2;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidebar-container.collapsed {
  width: 80px;
}

.sidebar-container.expanded {
  width: 200px;
}

.toggle-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -15px; /* Adjust this value to position the button correctly */
  transform: translateY(-50%);
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
  background-color: #e0e0e0;
}